data.csv
stopwords.csv
995,000_rows.csv
large_dataset_cleaned.csv
small_data_pickle
big_clean_data_pickle
BoWdata.csv
small_datasetprocessed.csv
trialBow.npy
X_tfidf.npy
995,000_rows_preprocessed.pkl
test.tsv
train.tsv
labeled_content.pkl
valid.tsv
final_clean_data
content_preprocessed.pkl
labeled_content.plk
labeled_liar_statements_preprocessed.pkl